<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alex75.JsonViewer" version="0.2.7178.36312" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
</packages>